body {
    font-family: Arial, sans-serif;
    background-color: #f80b0b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(232, 228, 228, 0.903);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.chat-window {
    background-color: #9e9e9e;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.chat-message {
    margin: 10px 0;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #bfbfbf;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
